@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-line1 {
  background-color: #183d3d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-group1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links1 a {
  color: white;
  font-family: "Poppins";
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.nav-links1 a:hover {
  color: rgb(135, 206, 235);
}

.Search {
  display: flex;
  margin-left: auto;
  align-items: center;
  padding-left: 100px;
  gap: 5px;
}

.Cart-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Cart-section a {
  color: white;
  padding: 10px;
  text-decoration: none;
}
.Cart-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.Cart-section a:hover {
  color: rgb(135, 206, 235);
}

.Wishlist-section {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 20px;
}

.Wishlist-section a {
  color: white;
  padding: 10px;
}

.Wishlist-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.Wishlist-section a:hover {
  color: rgb(135, 206, 235);
}

.nav-line2 {
  background-color: white;
  display: flex;
  font-family: "Poppins";
  font-size: 16px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav-group2 {
  display: flex;
  align-items: center;
}

.nav-links2 a {
  color: black;
  text-decoration: none;
  padding: 20px;
}

.nav-links2 a:hover {
  color: rgb(135, 206, 235);
}

nav a[href="/"] {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  margin: 0 20px;
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
